{% extends "base.html" %}
{% block content %}

<div style="text-align:center; margin-top:40px;">

    <h2>💳 Penca Mundial</h2>

    <p style="margin-top:10px;">
        Para participar tenés que habilitar tu acceso con un pago único.
    </p>

    <div style="
        margin-top:20px;
        font-size:22px;
        color:#c4b5fd;
    ">
        $100
    </div>

    <a href="/crear_pago">
        <button style="margin-top:20px;">
            Pagar y jugar
        </button>
    </a>

</div>

{% endblock %}